################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebDemoRepoTesti/.vs/WebDemoRepoTesti/v16
